@charset "UTF-8";

#wrap {
	width:1200px;
	margin:auto;
}


header {
	height:70px;
	background-color:#af90c8;
}

.btn {
	background-color:rgba(175, 144, 200, 0.92);
}

.contents > .bg-box {
	width:400px;
	background-color:rgba(175, 144, 200, 0.11);
}

.bg-box > .join-box {
	width:200px;
	margin:auto;
}

.contents > .timeline {
	width:500px;
}

.upload {
	width:450px;
	height:100px;
}

.namebox {
	width:450px;
	height:40px;
	background-color:#af90c8;
}

.comment {
	width:430px;
	height:20px;
	background-color:#af90c8;
}

footer {
	height:50px;
	background-color:#af90c8;
}